/* 模态窗口背景 */
.popup {
    display: none; /* 默认隐藏 */
    position: fixed; /* 固定定位 */
    z-index: 1; /* 确保它在所有其他元素之上 */
    left: 0;
    top: 0;
    width: 100%; /* 全屏宽度 */
    height: 100%; /* 全屏高度 */
    overflow: auto; /* 内容过多时允许滚动 */
    background-color: rgba(0,0,0,0.5); /* 半透明黑色背景 */
}

/* 模态窗口内容 */
.popup-content {
    background-color: #fefefe;
    border: 0.1rem solid gray;
    margin: 5% auto; /* 垂直居中 */
    padding: 30px;
    width: 90%; /* 宽度调整 */
    position: relative; /* 相对定位，以便于放置关闭按钮 */
    display: flex;
    justify-content: space-between; /* 空间均匀分布 */
    /* background-color: chartreuse; */
}

/* 图片切换容器 */
.fg {
    position: relative;
    width: 50%; /* 左侧宽度 */
    height: 100%;
    display: flex;
    flex-direction: column; /* 纵向排列 */
    justify-content: center; /* 垂直居中 */
    background-color: firebrick;
}

.fg .image {
    display: none;
    /* position: absolute; */
    top: 0;
    left: 0;
    height: auto;
    opacity: 0;
}

.front {
    
    display: flex;
    float: left;
    flex-direction: column;
    width: 100%; /* 宽度可以根据需要调整 */
    gap: 10px; /* 行间距 */
    /* 初始化为收起状态 */
    /* max-height: auto; */
    transition: max-height 0.5s ease-out;
    
    
    overflow: hidden; 
    /* 隐藏超出的内容 */
}

.row {
    display: flex;
    gap: 0.5rem; /* 列间距 */
}

.row img {
    height: 10rem;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    border: #D24DE7 1px solid;
    
}
.row1 {
    left: 1rem;
    display: flex;
    gap: 1.5rem; /* 列间距 */
}
.row1 img {
    height: 5rem;
    width: auto;
    max-width: 100%;
    cursor: pointer;
    
}
.merged-image {
    /* position: absolute; */
    top: 0;
    left: 0;
    /* background-color: #B197FC; */
    transform: scale(1);
    display: inline-block;
}

/* 右侧内容容器样式 */
.right-content {
    width: 50%; /* 右侧宽度 */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    padding-right: 2rem;
    background-color: aquamarine;
}

/* 下载按钮样式 */
.download-button {
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.download-button:hover {
    background-color: #ddd;
}

/* 关闭按钮样式 */
.close {
    color: #aaa;
    float: right; /* 右对齐 */
    font-size: 2rem;
    font-weight: bold;
    position: absolute; /* 绝对定位 */
    right: 1rem; /* 距离右侧10px */
    top: 1rem; /* 距离顶部10px */
    cursor: pointer;
}

/* 关闭按钮的hover效果 */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 多选框样式 */

.faceContainer {
    display: flex;
    align-items: center;
}

.face-option {
    display: flex;
    align-items: center;
}

.face-option img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.select-selected {
    background-color: #f1f1f1;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    user-select: none;
}

.select-items {
    position: absolute;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    z-index: 99;
    width: 100%;
    display: none;
    max-height: 200px;
    overflow-y: auto;
}

.select-items div {
    padding: 10px;
    cursor: pointer;
}

.select-items div:hover {
    background-color: #ddd;
}
.select-title {
    font-size: 3rem;
    margin-right: auto;
    display: block;
    /* background-color: #D24DE7; */
    margin-top: 0;
    margin-bottom: 5px;
}