body {
    margin: 0; /* 确保 body 占据整个浏览器窗口 */
    background-image: url('../image/Alice/Background.jpg');
    background-size: 100% auto; /* 横向匹配100%，纵向等比例拉伸 */
    /* background-position: center; 中心对齐 */
    background-repeat: no-repeat; /* 防止图片重复 */
    min-height: 100vh; /* 最小高度为视口高度 */
}
body {
    font-family: Arial, sans-serif;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    color: blue;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(246, 255, 0);
}
h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(204, 0, 255);
}
h4 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 187, 255);
}
h5 {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(0, 187, 255);
}
.container {
    display: grid;
    grid-template-columns: 25rem 1fr; /* 定义两列，第一列为图片宽度，第二列为剩余宽度 */
    grid-gap: 1rem; /* 图片与文字之间的间距 */
    align-items: start; /* 文字顶部对齐 */
}

.character-image {
    width: 100%; /* 图片宽度占满第一列 */
    height: auto;
    object-fit: contain;
    cursor: pointer;
}

.text-container p{
    display: flex;
    flex-direction: column; /* 文本垂直堆叠 */
    justify-content: flex-start; /* 文本从顶部开始 */
    text-align: center; /* 文本居中 */
    font-size: 20px;
    color: white;
}

